<%- include("partials/header2"); %>
<%- include("partials/admin-header"); %>

<div class="container" id="begin">
  <div class="jumbotron text-center">

    <i class="fas fa-database fa-6x"></i>
    <h1 class="display-3">All records</h1>
    <p class="records-text">DiagnosticsLT</p>

    <!-- empty space-->
    <section id="results-found" class="clear-section">
      <div class="container-fluid">
        <div class="empty-space3">
          <%if (neptis.length === 1) { %>
          <p class="found">Total: <%=neptis.length%> record</p>
          <% } else if (neptis.length > 1) { %>
          <p class="found">Total: <%=neptis.length%> records</p>
          <% } else { %>
          <p class="found">Sorry - no records</p>
          <% } %>
        </div>
      </div>
    </section>

    <%  neptis.forEach(function(nepti){ %>

      <p class="database-result"><span class="bold">Klasifikatorius:</span> <%=nepti.classifier%> </p>
      <p class="database-result"><span class="bold">Nepticulidae rūšis:</span> <%=nepti.species%></p>
      <p class="database-result"><span class="bold">Augalo šeima:</span> <%=nepti.augaloSeima%> </p>
      <p class="database-result"><span class="bold">Augalo gentis:</span> <%=nepti.augaloGentis%> </p>
      <p class="database-result"><span class="bold">Pažeista augalo dalis:</span> <%=nepti.pazeistaAugaloDalis%> </p>
      <p class="database-result"><span class="bold">Minos morfologinis tipas:</span> <%=nepti.minosMorfologTipas%> </p>
      <p class="database-result"><span class="bold">Minos vingiuotumas:</span> <%=nepti.minosVingiuotumas%></p>
      <p class="database-result"><span class="bold">Minos tako užpildymas:</span> <%=nepti.minosTakoUzpildymas%></p>
      <p class="database-result"><span class="bold">Minos pati pradžia: </span><%=nepti.minosPradzia%> </p>
      <p class="database-result"><span class="bold">Ekskrementų išsidėstymas:</span> <%=nepti.ekskrementIssidestymas%> </p>
      <p class="database-result"><span class="bold">Ekskrementų spalva:</span> <%=nepti.ekskrementSpalva%> </p>
      <p class="database-result"><span class="bold">Vikšro spalva:</span> <%=nepti.viksroSpalva%> </p>
      <p class="database-result"><span class="bold">Paveikslas:</span> <%=nepti.filepath%> </p>
      <img class="results-img" src="<%=nepti.filepath%>" alt="<%=nepti.species%>">


      <% }) %>
  </div>
</div>

<%if (neptis.length > 0) { %>
<div class="circle-button">
  <a class="btn circle" href="#begin" role="button">BACK TO BEGIN</a>
</div>
<% } %>



<%- include("partials/footer"); %>
