<%- include('partials/header') %>

<!-- Title -->
<section class="blue-section" id="title">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="blue-space-search">
          <h1>LIETUVOS MAŽŲJŲ GAUBTAGALVIŲ MINŲ DIAGNOSTIKA. <%=classifier%> </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- empty space-->
<section id="results-found" class="clear-section">
  <div class="container-fluid">
    <div class="empty-space3">
      <%if (neptis.length === 1) { %>
      <p class="found">Rastos rūšys: <%=neptis.length%> </p>
      <% } else if (neptis.length > 1) { %>
      <p class="found">Rastos rūšys: <%=neptis.length%></p>
      <% } else { %>
      <p class="found">Rūšių nerasta</p>
      <% } %>
    </div>
  </div>
</section>

<div class="jumbotron text-center">
  <div class="container">

    <%if (neptis.length > 0) { %>
    <%  neptis.forEach(function(nepti){ %>
    <img class="results-img" src="<%= nepti.filepath %>" alt="<%=nepti.species%>">
    <p></p>
    <% }) %>
    <% } else { %>
    <!-- if neptis.length < 0 -->
    <div class="circle-button">
      <a class="btn circle-big" href="/search-<%=classifierLink%>" role="button">BACK TO SEARCH</a>
    </div>
    <% } %>

  </div>
</div>

<%if (neptis.length > 0) { %>
<div class="circle-button">
  <a class="btn circle" href="/search-<%=classifierLink%>" role="button">BACK TO SEARCH</a>
</div>
<% } %>



<%- include('partials/footer') %>
